# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore database files
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore compiled files
*.class
*.exe
*.log
